<footer>
    <div class="navigation-container">
        <div class="quick-info">
            <div class="links-info">
                <h4>Quick links</h4>
                <ul>
                    <li><a href="#">Store locator</a></li>
                    <li><a href="#">Gift cards</a></li>
                    <li><a href="#">Size guide</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </div>
            <div class="about-site">
                <h4>Customer care</h4>
                <ul>
                    <li><a href="#">Customer service</a></li>
                    <li><a href="#">Track my order</a></li>
                    <li><a href="#">Return policy</a></li>
                    <li><a href="#">Shipping & delivery</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
        </div>
        <div class="license-info">
            <div class="questions">
                <h4>Questions</h4>
                <div class="questions-content">Tweet us <a href="#">@Dressshop!</a></div>
            </div>
            <div class="back-call">
                <h4>Order by phone</h4>
                <a href="#">8-800-409-47-12</a>
            </div>
            <div class="about-us">We have our own delivery service which operates in 23 major European cities. Delivery time - 3-5 days.</div>
            <ul class="social">
                <li><a href="#"><img src="assets/images/footer/social/facebook.svg" alt="#"></a></li>
                <li><a href="#"><img src="assets/images/footer/social/twitter-color.svg" alt="#"></a></li>
            </ul>
        </div>
    </div>
    <div class="privacy-container">
        <div class="created">© 2019, The Dressshop! Group inc.</div>
        <div class="share">
            <span>Share</span>
            <a class="share-counter" href="#">1 437</a>
        </div>
        <ul class="privacy">
            <li><a href="#">Legal notice</a></li>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">Site map</a></li>
        </ul>
    </div>
</footer>