<ngx-slick-carousel
  class="home-carousel"
  #slickModal="slick-carousel"
  [config]="slideConfig">
  <div class="slide" ngxSlickItem *ngFor="let slide of slides">
    <img [src]="slide.img" alt="" width="100%"/>
  </div>
</ngx-slick-carousel>

<section class="arrivals content-container">
  <h2 class="section-title">New arrivals</h2>
  <div class="arrivals-collection">
    <a class="arrival" href="#" *ngFor="let arrival of showArrivals">
      <div class="arrival-img-card"><img [src]="arrival.img" alt=""></div>
      <div class="arrival-name">{{ arrival.name }}</div>
      <div class="arrival-price">&pound;{{ arrival.price }}</div>
    </a>
  </div>
  <button class="btn-all-arrivals"
          type="button"
          [routerLink]="['/search-result']">All arrivals</button>
</section>
