<header class="head-container">
    <div class="info-panel">
        <div class="logo"><a href="#">Dressshop!</a></div>
        <div class="main-panel">
            <div class="sign-panel">
                <div class="sign-in"><a href="#">Sign in</a></div>
                <div class="sign-up"><a href="#">Sign up</a></div>
            </div>
            <div class="bag"><a href="#">Bag (0)</a></div>
        </div>
    </div>
    <div class="nav-panel">
        <ul class="nav-menu">
            <li><a href="#">Women</a></li>
            <li><a href="#">Men</a></li>
            <li><a href="#">Handbags</a></li>
            <li><a href="#">Accessories</a></li>
            <li><a href="#">Sale</a></li>
            <li><a href="#">New arrivals</a></li>
            <li><a href="#">Clearance</a></li>
            <li><a href="#">Store locator</a></li>
        </ul>
        <div class="nav-search">
            <input type="text" placeholder="Search">
        </div>
    </div>
</header>