@import "./src/scss/base/variables.scss";
@import "./src/scss/base/mixin.scss";

.head-container {
    padding: 8px 60px 24px;
    border-bottom: 1px solid $lightgray;
}
.info-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    a {
        font-size: 30px;
        font-family: "OpenSans", sans-serif;
    }
}
.main-panel {
    display: flex;
    a {
        font-size: 12px;
        font-family: $roboto;
        &:hover {
            text-decoration: underline;
        }
    }
}
.sign-panel {
    display: flex;
    position: relative;
    margin-right: 64px;
    > div {
        &:first-child {
            margin-right: 8px;
        }
    }
    &:before {
        content: "";
        display: block;
        height: 70%;
        width: 1px;
        background-color: $gray;
        position: absolute;
        top: 3px;
        left: 50%;
        margin-left: -2px;
    }
}

.nav-panel {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 8px;
}
.nav-menu {
    display: flex;
    align-items: center;
    li {
        margin-right: 60px;
        &:last-child {
            margin-right: 0;
        }
    }
    a {
        font-family: $OS;
        font-size: 13px;
        transition: color .3s;
        &:hover {
            color: #f14a58;
        }
    }
}

.search-input {
    position: relative;
    &:before {
        content: "";
        display: block;
        background: url(/assets/images/header/search.svg);
        width: 16px;
        height: 16px;
        position: absolute;
        right: 10px;
        bottom: 7px;
    }
    label {
        font-family: $OS;
        font-size: 12px;
        margin-bottom: 4px;
        display: inline-block;
        vertical-align: middle;
    }
    input {
        display: block;
        border: 1px solid $lightgray;
        outline: none;
        border-radius: 0;
        padding: 6px 12px;
    }
}

.bag {
    position: relative;
    &:before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background: url(/assets/images/header/shopping-bag.svg);
        position: absolute;
        left: -19px;
        top: 0;
    }
}